/* 👇👇👇 SCROLL DOWN TO THE "ADD YOUR FORM STYLES BENEATH" comment (line 25) 👇👇👇*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  display: flex;
  gap: 1rem;
  padding: 30px;
}

h2 {
  text-transform: uppercase;
}

p {
  font-weight: bold;
}

/* 👇👇👇  ADD YOUR FORM STYLES BENEATH  👇👇👇*/

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid #a9a9a9;
  padding: 20px;
}

form > div:last-child {
  text-align: center;
}

.subtext {
  color: #a9a9a9;
  margin: 5px 0;
  font-weight: unset;
}

#sign-in,
#sign-up {
  width: 100%;
}

a {
  color: #335eea;
  text-decoration: none;
  margin-left: 6px;
}

label {
  font-weight: bold;
}

label[for="login-field"],
label[for="password-field"],
label[for="name-field"],
label[for="email"],
label[for="password"],
label[for="confirm-password"],
label[for="phone"] {
  font-weight: bolder;
  font-size: 1.2rem;
}

input {
  width: 100%;
  height: 30px;
  margin: 6px 0;
  padding: 6px;
}

input[type="checkbox"],
input[type="radio"] {
  width: max-content;
  height: max-content;
  padding: 0;
}

input[type="submit"] {
  width: unset;
  height: unset;
  padding: 14px 20px;
  background: #335eea;
  color: white;
  font-size: 18px;
  border: 1px solid #335eea;
  border-radius: 8px;
  appearance: none;
  outline: none;
  clear: left;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #294bbb;
}

/* .form select {
  height: 30px;
} */

.form-group-horizontal-control {
  display: flex;
  gap: 1rem;
}

.form-group-horizontal-control .form-input-control {
  flex-grow: 1;
}

select {
  display: block;
  width: 100%;
  height: 30px;
}
